@model RCKohi.Models.ApplicationUsersViewModels.CreateViewModel

@{
    ViewData["Title"] = "用户管理";
    Layout = "~/Views/Shared/_LayoutSbAdmin2.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">新增用户</div>
            <div class="panel-body">
                <form role="form" asp-action="Create">
                    <div class="form-group">
                        <label asp-for="UserName" class="control-label"></label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneNumber" class="control-label"></label>
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>用户权限</label>
                        <div class="checkbox">
                            @foreach (var item in (SelectList)ViewBag.RolesList)
                            {
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="selectedRoles" value="@item.Value" />
                                    @item.Text
                                </label>
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        <div asp-validation-summary="All" class="text-danger"></div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="新增"><i class="fas fa-plus-circle"></i>&nbsp;&nbsp;新增用户</button>
                        <a asp-action="Index" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" title="列表"><i class="far fa-list-alt"></i>&nbsp;&nbsp;返回列表</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}