@using Microsoft.AspNetCore.Identity
@using RCKohi.Models


@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content=".net core simple demo">
    <meta name="author" content="wuyt">

    <title>@ViewData["Title"] - RCKohi</title>

    <environment include="Development">
        <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <!-- MetisMenu CSS -->
        <link rel="stylesheet" href="~/lib/metismenu-1.1.3/dist/metisMenu.css" />
        <!-- sb-admin-2 -->
        <link rel="stylesheet" href="~/lib/startbootstrap-sb-admin-2-gh-pages/dist/css/sb-admin-2.css" />
        <!-- fontawesome-free-5.0. -->
        <link rel="stylesheet" href="~/lib/fontawesome-free-5.0.7/web-fonts-with-css/css/fontawesome-all.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <!-- MetisMenu CSS -->
        <link rel="stylesheet" href="~/lib/metismenu-1.1.3/dist/metisMenu.min.css" />
        <!-- sb-admin-2 -->
        <link rel="stylesheet" href="~/lib/startbootstrap-sb-admin-2-gh-pages/dist/css/sb-admin-2.min.css" />
        <!-- fontawesome-free-5.0. -->
        <link rel="stylesheet" href="~/lib/fontawesome-free-5.0.7/web-fonts-with-css/css/fontawesome-all.min.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">菜单</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">RCKohi</a>
            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-top-links navbar-right">
                <li>你好，@UserManager.GetUserName(User)</li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="~/Manage/Index"><i class="far fa-address-book"></i>信息</a></li>
                        <li><a href="~/Manage/ChangePassword"><i class="fas fa-key"></i>密码</a></li>
                        <li class="divider"></li>
                        <li>
                            <a href="javascript:document.getElementById('logoutForm').submit();"><i class="fas fa-sign-out-alt"></i>登出</a>
                            <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm"></form>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="~/Dashboard"><i class="fa fa-dashboard fa-fw"></i>面板</a>
                        </li>
                        @if (User.IsInRole("admin"))
                        {
                            <li>
                                <a href="#"><i class="fa fa-users fa-fw"></i> 用户信息<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="~/ApplicationUsers">用户列表</a>
                                    </li>
                                    <li>
                                        <a href="~/ApplicationUsers/Create">新增用户</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                        }
                        <li>
                            <a href="#"><i class="fa fa-video-camera fa-fw"></i>动画作品<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="~/Animes">动画列表</a>
                                </li>
                                <li>
                                    <a href="~/Animes/Create">新增作品</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="page-header">@ViewData["Title"]</h3>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                @RenderBody()
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->

    <environment include="Development">
        <!-- jQuery -->
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <!-- Metis Menu Plugin JavaScript -->
        <script src="~/lib/metismenu-1.1.3/dist/metisMenu.js"></script>
        <!-- sb-admin-2 JavaScript -->
        <script src="~/lib/startbootstrap-sb-admin-2-gh-pages/dist/js/sb-admin-2.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <!-- jQuery -->
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <!-- Bootstrap Core JavaScript -->
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <!-- Metis Menu Plugin JavaScript -->
        <script src="~/lib/metismenu-1.1.3/dist/metisMenu.min.js"></script>
        <!-- sb-admin-2 JavaScript -->
        <script src="~/lib/startbootstrap-sb-admin-2-gh-pages/dist/js/sb-admin-2.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
